 body{
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
        }
        h1,h2{
            text-align: center;
            color: #333;
        }
        button{
         display: block;
            margin: 20px auto;
            background-color: #4a4ab8;
            color: white;
            padding: 10px 20px;
            font-size: 18px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
    }
      